<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:tx="http://aries.apache.org/xmlns/transactions/v1.0.0"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0">

    <bean id="personRepository" class="com.carmanconsulting.smx.example.domain.repository.impl.JpaPersonRepository">
        <jpa:context property="entityManager" unitname="person" />
        <tx:transaction method="*" value="Required" />
    </bean>

    <service ref="personRepository" interface="com.carmanconsulting.smx.example.domain.repository.PersonRepository" />

</blueprint>

